*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    overflow-y: scroll;
}

body{
    height: 100%;
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 100px;
}

/* ----------NavBar---------- */

/* ----------PopUp---------- */
#css-only-modals{
    display: none;
}

.bold{
    font-weight: bold;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    hr {
        opacity: 0.3;
        border-color: #000;
        margin: 1.5% 0;
    }

    #css-only-modals {
        display: block;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10000000;
        text-align: center;
        white-space: nowrap;
        height: 100%;
    }

    #css-only-modals:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .css-only-modal-check {
        pointer-events: auto;
    }

    .css-only-modal-check:checked ~ .css-only-modal {
        opacity: 1;
        pointer-events: auto;
    }

    .css-only-modal {
        width: 40%;

        background: #FFF;
        z-index: 1;
        display: inline-block;
        position: relative;
        pointer-events: auto;
        padding: 25px;
        text-align: right;
        border-radius: 4px;
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
        pointer-events: none;
    }

    .css-only-modal h2 {
        text-align: center;
    }

    .css-only-modal p {
        text-align: left;
        margin-bottom: 3.5%;
    }

    .css-only-modal-close {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .css-only-modal-check {
        display: none;
    }

    .css-only-modal-check:checked ~ #screen-shade {
        opacity: 0.5;
        pointer-events: auto;
    }

    #screen-shade {
        opacity: 0;
        background: #000;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        transition: opacity 0.8s;
    }

    #nav-spacer {
        display: block;
        height: 50px;
    }

    .stripe {
        width: 100%;
        text-align: center;
        overflow: hidden;
    }

    .default {
        color: White;
        background: DarkCyan;
    }

    .inverse {
        color: DarkCyan;
        background: White;
    }

    .grey {
        color: White;
        background: DimGrey;
    }

    .grey-light {
        color: DimGrey;
        background: White;
    }

    .color {
        color: DarkOrange;
    }

    #understand-btn{
        border: 1px solid gray;
        cursor: pointer;
        padding: 1.5%;
        color: #3c3c3c;
        font-weight: bold;

    }
}

@supports not (grid-auto-rows: 1fr){

    hr {
        opacity: 0.3;
        border-color: #000;
        margin: 1.5% 0;
    }

    #css-only-modals {
        display: block;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10000000;
        text-align: center;
        white-space: nowrap;
        height: 100%;
    }

    #css-only-modals:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .css-only-modal-check {
        pointer-events: auto;
    }

    .css-only-modal-check:checked ~ .css-only-modal {
        opacity: 1;
        pointer-events: auto;
    }

    .css-only-modal {
        width: 40%;

        background: #FFF;
        z-index: 1;
        display: inline-block;
        position: relative;
        pointer-events: auto;
        padding: 25px;
        text-align: right;
        border-radius: 4px;
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
        pointer-events: none;
    }

    .css-only-modal h2 {
        text-align: center;
    }

    .css-only-modal p {
        text-align: left;
        margin-bottom: 3.5%;
    }

    .css-only-modal-close {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .css-only-modal-check {
        display: none;
    }

    .css-only-modal-check:checked ~ #screen-shade {
        opacity: 0.5;
        pointer-events: auto;
    }

    #screen-shade {
        opacity: 0;
        background: #000;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        transition: opacity 0.8s;
    }

    #nav-spacer {
        display: block;
        height: 50px;
    }

    .stripe {
        width: 100%;
        text-align: center;
        overflow: hidden;
    }

    .default {
        color: White;
        background: DarkCyan;
    }

    .inverse {
        color: DarkCyan;
        background: White;
    }

    .grey {
        color: White;
        background: DimGrey;
    }

    .grey-light {
        color: DimGrey;
        background: White;
    }

    .color {
        color: DarkOrange;
    }

    #understand-btn{
        border: 1px solid gray;
        cursor: pointer;
        padding: 1.5%;
        color: #3c3c3c;
        font-weight: bold;

    }
}







header{
    width: 100%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #3b3b3b;
    position: fixed;
    top: 0;
}

#logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -7%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding-right: 5%;
    border-right: 2px solid #d9d9d9;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

}

#logo img{
    max-width: 100px;
    min-width: 20px;
    max-height: 40px;
    padding-top: 5px;
}

.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}

.navbar ul{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.navbar li{ 
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
    padding: 0 10px 0 10px;
    font-size: 15px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    line-height: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;

}

.navbar a{
    color: white;
    text-decoration: none; 
    background-color: none;

}

.navbar li:hover{
    background-color: #5f5f5f;
}


#current-page{
    position: relative;
}

#current-page:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
}



/* ----------Dropdown---------- */
.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 15%;
    right: 15%;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: 7fr 6fr repeat(2, 5fr);
    grid-template-rows: 1fr;
    text-align: center;
}


.dropdown-content li:hover{
    background-color: transparent;
}

.dropdown-content a:hover{
    text-decoration: underline;
    color: #009dff;
}

.dropdown-content li:hover{
    text-decoration: underline;
    color: #009dff;
}

.bold{
    font-weight: bold;
}

.categories{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;


}

.grid-item.bold{


    height: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


}
.categories li{
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;

}


/* ----------Content---------- */

#content{
    margin-top: 30px;
    padding: 30px 125px;
    font-family: 'PT Sans Narrow', sans-serif;


}

.italic{
    font-style: italic;
}



/* ----------Footer---------- */

#footer{
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;

    display: flex;
    background-color: #434343;
    color: white;

    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

footer ul{
    list-style-type: none;
    text-align: center;
}

.footer-captions{
    margin: 0 auto;
    max-height: max-content;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}

.footer-captions a{
    color: white;
    text-decoration: none; 
    background-color: none;
}

.footer-captions p, .footer-captions li{
    font-size: small;
}

#copyright{

    flex-basis: 200px;
    margin: 0;

}

#copyright p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: x-small;

}



