#content{
    padding-right: 40px;
}

#content h3{
    margin-top: 60px;
    margin-bottom: 10px;
}

#dimensions-in-mm-quote{
    font-size: smaller;
    font-style: italic;
}

#content #sizes-grid-container{
    display: grid;
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

#content #sizes-grid-container .sizes-grid-item:nth-child(4n-2),#content #sizes-grid-container .sizes-grid-item:nth-child(4n-3){
    background-color: lightgray;
}

#em-grid-container{
    display: grid;
    grid-template-columns: 320px 1fr;
    margin: auto;
    max-width: 800px;
}

#content #em-grid-container img{
    width: 300px;
}

#content #em-grid-container .sizes-grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

#legend-grid-container{
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: repeat(2,1fr);
    max-width: max-content;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

#legend-grid-container #null1{
    border: 1px solid black;
    background-color: #aee3ae;
}

#legend-grid-container #null2{
    border: 1px solid black;
    background-color: #52c652
}

#legend-grid-container #null3{
    border: 1px solid black;
    background-color: #036503
}


#content #em-grid .grid-item{
    background-color: #aee3ae;
    border: 0.5px solid black;
    font-weight: normal;
    font-size: medium;
}

#content #em-grid .grid-item.rightmost{
    border-right: 1px solid black;
}

#content #em-grid .grid-item.bottommost{

    border-bottom: 1px solid black;
}

#content #em-grid .grid-item.white{
    background-color: white;
}
#content #em-grid .grid-item.ratio{
    background-color: white;
}
#content #em-grid{
    grid-template-columns: repeat(35,1fr);
    grid-auto-rows: 1fr;
}

#content #em-grid .grid-item:nth-child(-n+9){
    font-weight: bold;
    background-color: white;
    border-top: 1px solid black;
}

#frame-size{
    grid-column: 1 / 3;
}

#ratio{
    grid-column: 3 / 5;
}

#class5{
    grid-column: 6 / 11;
}

#class3{
    grid-column: 11 / 16;
}

#class1{
    grid-column: 16 / 21;
}

#class05{
    grid-column: 21 / 26;
}

#class04{
    grid-column: 26 / 31;
}

#class03{
    grid-column: 31 / 36;
}

#content #em-grid #null2-1{

    grid-column: 1 / 3;
    border-left: 1px solid black;
}

#content #em-grid #null2-2{
    grid-column: 3 / 5;
}

#content #em-grid #null3-8{
    grid-column: 5 / 6;
    grid-row: 3 / 8;
}

#content #em-grid #null9-16{
    grid-column: 5 / 6;
    grid-row: 9 / 16;
}
#content #em-grid #null17-24{
    grid-column: 5 / 6;
    grid-row: 17 / 24;
}
#content #em-grid #null25-32{
    grid-column: 5 / 6;
    grid-row: 25 / 32;
}
#content #em-grid #null33-40{
    grid-column: 5 / 6;
    grid-row: 33 / 40;
}
#content #em-grid #EM-1A{
    grid-row: 3 / 8;
    grid-column: 1 / 3;
    border-left: 1px solid black;
}

#content #em-grid #EM-2A{
    grid-row: 9 / 16;
    grid-column: 1 / 3;
    border-left: 1px solid black;
}

#content #em-grid #EM-3A{
    grid-row: 17 / 24;
    grid-column: 1 / 3;
    border-left: 1px solid black;
}

#content #em-grid #EM-4A{
    grid-row: 25 / 32;
    grid-column: 1 / 3;
    border-left: 1px solid black;
}

#content #em-grid #EM-5A{
    grid-row: 33 / 40;
    grid-column: 1 / 3;
    border-left: 1px solid black;
}

#content #em-grid #frame-size{
    border-left: 1px solid black;
}

#content #em-grid #class05{
    border-right: 1px solid black;
}

.grid-item.ratio {
    grid-column: 3 / 5;
}

#content #em-grid .grid-item:nth-child(n+47):nth-child(-n+50),#content #em-grid .grid-item:nth-child(n+52):nth-child(-n+75),

#content #em-grid .grid-item:nth-child(n+79):nth-child(-n+81),#content #em-grid .grid-item:nth-child(n+84):nth-child(-n+106),

#content #em-grid .grid-item:nth-child(n+111):nth-child(-n+112),#content #em-grid .grid-item:nth-child(n+116):nth-child(-n+137),

#content #em-grid .grid-item:nth-child(143),#content #em-grid .grid-item:nth-child(148), #content #em-grid .grid-item:nth-child(n+150):nth-child(-n+153),#content #em-grid .grid-item:nth-child(n+155):nth-child(-n+168),

#content #em-grid .grid-item:nth-child(179), #content #em-grid .grid-item:nth-child(n+182):nth-child(-n+184),#content #em-grid .grid-item:nth-child(n+187):nth-child(-n+199),

#content #em-grid .grid-item:nth-child(n+237):nth-child(-n+240),#content #em-grid .grid-item:nth-child(n+242):nth-child(-n+265),

#content #em-grid .grid-item:nth-child(n+269):nth-child(-n+271),#content #em-grid .grid-item:nth-child(n+274):nth-child(-n+296),

#content #em-grid .grid-item:nth-child(n+301):nth-child(-n+302),#content #em-grid .grid-item:nth-child(n+306):nth-child(-n+307),#content #em-grid .grid-item:nth-child(n+309):nth-child(-n+312),#content #em-grid .grid-item:nth-child(n+314):nth-child(-n+327),

#content #em-grid .grid-item:nth-child(333), #content #em-grid .grid-item:nth-child(338), #content #em-grid .grid-item:nth-child(n+341):nth-child(-n+343),#content #em-grid .grid-item:nth-child(n+346):nth-child(-n+358),

#content #em-grid .grid-item:nth-child(n+373):nth-child(-n+374),#content #em-grid .grid-item:nth-child(n+378):nth-child(-n+379),#content #em-grid .grid-item:nth-child(n+381):nth-child(-n+384),#content #em-grid .grid-item:nth-child(n+386):nth-child(-n+389),

#content #em-grid .grid-item:nth-child(405),#content #em-grid .grid-item:nth-child(410),#content #em-grid .grid-item:nth-child(n+412):nth-child(-n+415),#content #em-grid .grid-item:nth-child(n+417):nth-child(-n+420),

#content #em-grid .grid-item:nth-child(n+444):nth-child(-n+446),#content #em-grid .grid-item:nth-child(n+449):nth-child(-n+451),

#content #em-grid .grid-item:nth-child(n+490):nth-child(-n+492),#content #em-grid .grid-item:nth-child(n+495):nth-child(-n+517),

#content #em-grid .grid-item:nth-child(n+522):nth-child(-n+523),#content #em-grid .grid-item:nth-child(n+527):nth-child(-n+533),#content #em-grid .grid-item:nth-child(n+536):nth-child(-n+548),

#content #em-grid .grid-item:nth-child(554),#content #em-grid .grid-item:nth-child(n+559):nth-child(-n+564),#content #em-grid .grid-item:nth-child(n+568):nth-child(-n+569), #content #em-grid .grid-item:nth-child(n+571):nth-child(-n+574),#content #em-grid .grid-item:nth-child(n+576):nth-child(-n+579),

#content #em-grid .grid-item:nth-child(595), #content #em-grid .grid-item:nth-child(600), #content #em-grid .grid-item:nth-child(n+603):nth-child(-n+605),#content #em-grid .grid-item:nth-child(n+608):nth-child(-n+610),

#content #em-grid .grid-item:nth-child(636),#content #em-grid .grid-item:nth-child(641),

#content #em-grid .grid-item:nth-child(754), #content #em-grid .grid-item:nth-child(759), #content #em-grid .grid-item:nth-child(n+762):nth-child(-n+764),#content #em-grid .grid-item:nth-child(n+767):nth-child(-n+769),

#content #em-grid .grid-item:nth-child(795), #content #em-grid .grid-item:nth-child(800)
{
    background-color: white;
}

#content #em-grid .grid-item:nth-child(51),#content #em-grid .grid-item:nth-child(82),#content #em-grid .grid-item:nth-child(113),#content #em-grid .grid-item:nth-child(147),#content #em-grid .grid-item:nth-child(178),#content #em-grid .grid-item:nth-child(241),#content #em-grid .grid-item:nth-child(273),#content #em-grid .grid-item:nth-child(304),#content #em-grid .grid-item:nth-child(337),#content #em-grid .grid-item:nth-child(368),#content #em-grid .grid-item:nth-child(400),#content #em-grid .grid-item:nth-child(431),#content #em-grid .grid-item:nth-child(494),#content #em-grid .grid-item:nth-child(526),#content #em-grid .grid-item:nth-child(558),#content #em-grid .grid-item:nth-child(599),#content #em-grid .grid-item:nth-child(631),#content #em-grid .grid-item:nth-child(662),#content #em-grid .grid-item:nth-child(693),#content #em-grid .grid-item:nth-child(758),#content #em-grid .grid-item:nth-child(790),#content #em-grid .grid-item:nth-child(821),#content #em-grid .grid-item:nth-child(852),#content #em-grid .grid-item:nth-child(893),#content #em-grid .grid-item:nth-child(924),#content #em-grid .grid-item:nth-child(955),#content #em-grid .grid-item:nth-child(1021),#content #em-grid .grid-item:nth-child(1052),#content #em-grid .grid-item:nth-child(1083),#content #em-grid .grid-item:nth-child(1114),#content #em-grid .grid-item:nth-child(1145),#content #em-grid .grid-item:nth-child(1176),#content #em-grid .grid-item:nth-child(1207){
    background-color: #52c652;
}

/*
#content #em-grid .grid-item:nth-child(40),#content #em-grid .grid-item:nth-child(63),#content #em-grid .grid-item:nth-child(84),#content #em-grid .grid-item:nth-child(110),#content #em-grid .grid-item:nth-child(131), #content #em-grid .grid-item:nth-child(165){
    background-color: #52c652;
}
*/

