#BSD1-310-406BG{
    padding: 30px 125px; 
    font-family: 'PT Sans Narrow', sans-serif;
}

#BSD1-310-406BG h2, #BSD1-310-406BG h3{
    margin-top: 20px;
}



#BSD1-310-406BG-specifications{   
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(7,1fr);
}

#BSD1-310-406BG-materials{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(19,1fr);
}

